<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

    <!-- Font awsome icon -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Bảng giá - E-Design.vn | Thiết kế banner, website ... </title>
    <script>
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>
<body>
    <!-- Button back to top-->
    <a href="#" class="arrow-to-top" id="scrollToTop"><i class="fas fa-arrow-up"></i></a>

    <header id="_header" class="mb-4 border-bottom">
        <div class="header-top p-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 text-phone">
                        <i class="fa fa-phone"></i> SDT Liên hệ: 0914.290.456 / .....
                    </div>
                    <div class="col-sm-6 col-lg-4 text-phone">
                        <i class="fa fa-mobile" aria-hidden="true"></i> Hotline: 096 6420 194
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">
                        <img width="150" src="https://via.placeholder.com/300x150" alt="_logo_edesign">
                    </a>
                    <button class="navbar-toggler navbar-toggler-right navbar-toggleable-sm bg-faded collapsed "
                        type="button" data-toggle="collapse" data-target="#menuTop"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="menuTop">
                        <ul class="nav navbar-nav text-center mx-auto">
                            <li class="nav-item item hvr-underline-from-left">
                                <a class="btn btn-nav nav-link" href="/index.html">Trang Chủ</a>
                            </li>
                            <li class="nav-item item dropdown hvr-underline-from-left">
                                <a class="btn btn-nav nav-link dropdown-custom" href="./products.html">Danh Mục
                                    Sản Phẩm</a>
                            </li>
                            <li class="nav-item item hvr-underline-from-left">
                                <a class="btn btn-nav nav-link" href="#">Bảng Giá</a>
                            </li>
                            <li class="nav-item item hvr-underline-from-left">
                                <a class="btn btn-nav nav-link" href="#">Liên Hệ</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main id="_content-products">
        <!-- Bar social media fixed  right side -->
        <div class="barfixed-rightside row">
            <div class="col-md-12 item-fb">
            </div>
            <div class="col-md-12 item-zalo">
            </div>
            <div class="col-md-12 item-phone">
            </div>
        </div>

         <!-- Content Pricing-->
        <div class="content-pricing">
            <div class="row">
                    <div class="col-md-8 mx-auto pt-3 title-pricing text-center">
                        <p>Chi tiết bảng giá của từng dịch vụ</p>
                    </div>
                <article class="col-md-9 p-0 col-sm-12 content-pricing" id="_left-side">
                   
                    <div class="row mt-5">
                        <div class="col-md-12 p-3 content-web-pricing">
                            <div class="row">
                                <div class="col-md-12 title title-web-pricing">
                                    <p><strong>1/ Thiết kế website.</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12 p-3 content-banner-pricing">
                            <div class="row">
                                <div class="col-md-12 title title-banner-pricing">
                                    <p><strong>2/ Thiết kế banner, poster, standee.</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12 p-3 content-advs-pricing">
                            <div class="row">
                                <div class="col-md-12 title title-advs-pricing">
                                    <p><strong>3/ Chạy quảng cáo.</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <aside class="col-md-3 bar-pricing" id="_right-side">
                    <div class="container-menu row mb-5">
                        
                        <ul class="col-md-12 pb-4 pl-4 pr-4 m-0">
                            <li class="item-menu-left">
                                <ul style="padding: 0;">
                                    <li class="header-menu header-1"><a id="dropdown-web"
                                            class="dropdown-custom" href="javascript:void(0)">Thiết kế
                                            website</a></li>
                                </ul>
                            </li>
                            <li class="item-menu-left">
                                <ul style="padding: 0;">
                                    <li class="header-menu header-1"><a id="dropdown-banner"
                                            class="dropdown-custom" href="javascript:void(0)">Thiết kế
                                            standee, banner</a></li>
                                </ul>
                            </li>
                            <li class="item-menu-left">
                                <ul style="padding: 0;">
                                    <li class="header-menu header-1"><a id="dropdown-advs"
                                            class="dropdown-custom" href="javascript:void(0)">Chạy quảng
                                            cáo</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>    
        </div>
    </main>
</body>
</html>