<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

    <!-- Font awsome icon -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Sản phẩm - E-Design.vn | Thiết kế banner, website ... </title>
    <script>
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>

<body>

    <!-- Button back to top-->
    <a href="#" class="arrow-to-top" id="scrollToTop"><i class="fas fa-arrow-up"></i></a>

    <header id="_header" class="mb-4 border-bottom">
        <div class="header-top p-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 text-phone">
                        <i class="fa fa-phone"></i> SDT Liên hệ: 0914.290.456 / .....
                    </div>
                    <div class="col-sm-6 col-lg-4 text-phone">
                        <i class="fa fa-mobile" aria-hidden="true"></i> Hotline: 096 6420 194
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">
                        <img width="150" src="https://via.placeholder.com/300x150" alt="_logo_edesign">
                    </a>
                    <button class="navbar-toggler navbar-toggler-right navbar-toggleable-sm bg-faded collapsed "
                        type="button" data-toggle="collapse" data-target="#menuTop"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="menuTop">
                        <ul class="nav navbar-nav text-center mx-auto">
                            <li class="nav-item item hvr-underline-from-left">
                                <a class="btn btn-nav nav-link" href="/index.html">Trang Chủ</a>
                            </li>
                            <li class="nav-item item dropdown hvr-underline-from-left">
                                <a class="btn btn-nav nav-link dropdown-custom" href="./products.html">Danh Mục
                                    Sản Phẩm</a>
                            </li>
                            <li class="nav-item item hvr-underline-from-left">
                                <a class="btn btn-nav nav-link" href="#">Bảng Giá</a>
                            </li>
                            <li class="nav-item item hvr-underline-from-left">
                                <a class="btn btn-nav nav-link" href="#">Liên Hệ</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main id="_content-products">
        <!-- Bar social media fixed  right side -->
        <div class="barfixed-rightside row">
            <div class="col-md-12 item-fb">
            </div>
            <div class="col-md-12 item-zalo">
            </div>
            <div class="col-md-12 item-phone">
            </div>
        </div>

        <!-- Content Products-->
        <div class="content">
            <div class="row">
                <div class=" col-md-12 pb-5">
                    <div class="bar-animation">
                        <div class="gradient-background">
                        </div>
                        <div class="title-page">
                            <p>SẢN PHẨM</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="row pt-5" style="border-top:3px dashed #d8e5df; padding:100px 0 ;background:rgba(224,237,255,0.59)">
                        <aside class="col-md-3" id="_left-side">
                            <div class="container-menu row mb-5">
                                <div class="col-md-12 pt-3 title-menu">
                                    <h3>Danh mục</h3>
                                </div>
                                <ul class="col-md-12 pb-4 pl-4 pr-4 m-0">
                                    <li class="item-menu-left">
                                        <ul style="padding: 0;">
                                            <li class="header-menu header-1"><a id="dropdown-web"
                                                    class="dropdown-custom" href="javascript:void(0)">Thiết kế
                                                    website</a></li>
                                            <li class="menu-dropdown" id="menu-dropdown-web">
                                                <ul>
                                                    <li><a href="#">Desktop</a></li>
                                                    <li><a href="#">Mobile</a></li>
                                                    <li><a href="#">Tablet</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item-menu-left">
                                        <ul style="padding: 0;">
                                            <li class="header-menu header-1"><a id="dropdown-banner"
                                                    class="dropdown-custom" href="javascript:void(0)">Thiết kế
                                                    standee, banner</a></li>

                                            <li class="menu-dropdown" id="menu-dropdown-banner">
                                                <ul>
                                                    <li><a href="#">Desktop</a></li>
                                                    <li><a href="#">Mobile</a></li>
                                                    <li><a href="#">Tablet</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item-menu-left">
                                        <ul style="padding: 0;">
                                            <li class="header-menu header-1"><a id="dropdown-advs"
                                                    class="dropdown-custom" href="javascript:void(0)">Chạy quảng
                                                    cáo</a></li>
                                            <li class="menu-dropdown" id="menu-dropdown-advs">
                                                <ul>
                                                    <li><a href="#">Desktop</a></li>
                                                    <li><a href="#">Mobile</a></li>
                                                    <li><a href="#">Tablet</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <article class="col-md-9 p-0" id="_right-side">
                            <div class="row">
                                <div class="col-md-3 item-products mx-auto mb-5">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 item-products mx-auto mb-5">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 item-products mb-5 mx-auto">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 item-products mx-auto mb-5">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 item-products mx-auto mb-5">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 item-products mb-5 mx-auto">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 item-products mx-auto mb-5">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 item-products mx-auto mb-5">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 item-products mb-5 mx-auto">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 item-products mx-auto mb-5">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 item-products mx-auto mb-5">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 item-products mb-5 mx-auto">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 image-product">
                                        </div>
                                        <div class="col-md-12 col-sm-12 content-product">
                                            <ul>
                                                <li>
                                                    <p class="title text-center">Website học sinh</p>
                                                </li>
                                                <li>
                                                    <p class="btn button-yellow btn-block">Liên hệ</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer id="_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4">
                    <h5 class="mb-4 font-weight-bold">Thông tin liên lạc</h5>
                    <p class="mb-4"></p>
                    <ul class="f-address">
                        <li class="mb-3">
                            <div class="row">
                                <div class="col-1"><i class="fas fa-map-marker"></i></div>
                                <div class="col-10">
                                    <h6 class="font-weight-bold mb-0">Địa chỉ:</h6>
                                    <p>Số 123/321, Trần văn ơn, Tổ 56, Khu 5, Phường Hiệp Thành, Thành phố Thủ Dầu Một
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="row">
                                <div class="col-1"><i class="far fa-envelope"></i></div>
                                <div class="col-10">
                                    <h6 class="font-weight-bold mb-0">Liên hệ nếu có thắc mắc?</h6>
                                    <p><a href="#">abc@gmail.com</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="row">
                                <div class="col-1"><i class="fas fa-phone-volume"></i></div>
                                <div class="col-10">
                                    <h6 class="font-weight-bold mb-0">SĐT:</h6>
                                    <p><a href="#">+84 12 123 3456</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                    <h5 class="mb-4 font-weight-bold">Nhà tài trợ</h5>
                    <ul class="recent-post">
                        <li>
                            <label class="mr-3"><img width="100" src="./images/logo/viettel.jpg">
                            </label>
                        </li>
                        <li>
                            <label class="mr-3"><img width="100" src="./images/logo/vnpt.jpg"></label>
                        </li>
                        <li>
                            <label class="mr-3"><img width="100" src="./images/logo/bkav.jpg"></label>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                    <h5 class="mb-4 font-weight-bold">Liên hệ với chúng tôi</h5>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Địa chỉ email..">
                        <span class="input-group-addon" id="basic-addon2"><i class="fas fa-check"></i></span>
                    </div>
                    <ul class="social-pet mt-4">
                        <li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- Open menu -->
    <script>
        $("#dropdown-web").click(() => {
            $("#menu-dropdown-web").slideToggle('slow', () => {
                if ($("#menu-dropdown-web").is(":visible")) {
                    $("#dropdown-web").before().css("color", "#ef3062");
                } else {
                    $("#dropdown-web").before().css("color", "black");
                }
            });
        });
        $("#dropdown-banner").click(() => {
            $("#menu-dropdown-banner").slideToggle('slow', () => {
                if ($("#menu-dropdown-banner").is(":visible")) {
                    $("#dropdown-banner").before().css("color", "#a770ef");
                } else {
                    $("#dropdown-banner").before().css("color", "black");
                }
            });
        });
        $("#dropdown-advs").click(() => {
            $("#menu-dropdown-advs").slideToggle('slow', () => {
                if ($("#menu-dropdown-advs").is(":visible")) {
                    $("#dropdown-advs").before().css("color", "#fdb406");
                } else {
                    $("#dropdown-advs").before().css("color", "black");
                }
            });
        });
    </script>
</body>

</html>