%title-pricing{
    font-size:$font-size-medium;

}

.content-pricing{
    .title-pricing{
        p{
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
        }
        @include border(bottom, 3px solid $color-blue);
        background-image: url('/images/vector/');
    }
    #_left-side{
        
        .title-web-pricing{
            @extend %title-pricing;
        }
        .title-banner-pricing{
            @extend %title-pricing;
        }
        .title-advs-pricing{
            @extend %title-pricing;
        }
    }

    #_right-side{
        .container-menu {
            position: fixed;
            right: 20px;
            top: 50%;
            background-color: $color-white;
            @include border-radius($radius);
            -webkit-box-shadow: 10px 10px 48px -16px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 48px -16px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 48px -16px rgba(0, 0, 0, 0.75);

            .title-menu {
                @include border-radius(12px 12px 0 0);
                background-color: $color-black-light;

                h3 {
                    font-weight: $font-weight-bold;
                    text-align: center;
                    color: $color-white;
                }
            }

            ul {
                width: 100%;
                list-style: none;

                li {
                    @include padding-default(10px);

                    #dropdown-web {
                        transition: 0.3s ease;

                        &::before {
                            content: "•";
                            font-size: 30px;
                            transition: 0.3s ease;
                            @include padding-custom(0px, 10px, 0, 0);
                        }
                    }

                    #dropdown-banner {
                        transition: 0.3s ease;

                        #menu-dropdown-banner {
                            background-color: #a770ef;
                        }

                        &::before {
                            content: "•";
                            font-size: 30px;
                            transition: 0.3s ease;
                            @include padding-custom(0px, 10px, 0, 0);
                        }
                    }

                    #dropdown-advs {
                        transition: 0.3s ease;

                        &::before {
                            content: "•";
                            font-size: 30px;
                            transition: 0.3s ease;
                            @include padding-custom(0px, 10px, 0, 0);
                        }
                    }

                    #menu-dropdown-web {
                        background-color: $color-red;
                        box-shadow: inset 0px 0px 20px $color-black;
                        @include border-radius(0 0 12px 12px);

                        ul {
                            li {
                                transition: 0.3s ease;
                                @include border-radius(12px);

                                a {
                                    color: $color-white;
                                }

                                &:hover {
                                    background-color: $color-item-menu-hover;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    #menu-dropdown-banner {
                        background-color: #a770ef;
                        box-shadow: inset 0px 0px 20px $color-black;
                        @include border-radius(0 0 12px 12px);

                        ul {
                            li {
                                transition: 0.3s ease;
                                @include border-radius(12px);

                                a {
                                    color: $color-white;
                                }

                                &:hover {
                                    background-color: $color-item-menu-hover;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    #menu-dropdown-advs {
                        background-color: $color-yellow;
                        box-shadow: inset 0px 0px 20px $color-black;
                        @include border-radius(0 0 12px 12px);

                        ul {
                            li {
                                transition: 0.3s ease;
                                @include border-radius(12px);

                                a {
                                    color: $color-white;
                                }

                                &:hover {
                                    background-color: $color-item-menu-hover;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }

                .header-menu {
                    @include border(bottom, 1px solid $color-gray-light);
                    font-weight: $font-weight-bold;
                }

                .menu-dropdown {
                    display: none;
                }
            }
        }
    }
}